<!-- This is used with .Site.RegularPages in context -->
{{ "<!-- single blog post -->" | safeHTML }}
<article class="col-12 col-md-4">
    <div class="post-item">
        {{ if .Site.Params.enableBlogImages }}
        <div class="post-thumb">
            <img class="img-fluid shadow rounded" src="{{ with .Params.image }}{{ . | absURL }}{{ end }}" alt="Generic placeholder image">
        </div>
        {{ end }}
        <div class="post-title">
            <h3 class="mt-0">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h3>
        </div>
        <div class="post-meta">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <span>By</span>
                    <span>{{ .Params.author }}</span>
                    <span>at</span>
                    <span>{{ .Date.Format .Site.Params.dateFormat }}</span>
                </li>
            </ul>
        </div>
        <div class="post-content">
            <p>{{ .Summary | chomp | truncate 200 }}</p>
        </div>
        <a class="btn btn-main" href="{{ .Permalink }}">Read more</a>
    </div>
</article>
{{ "<!-- /single blog post -->" | safeHTML }}
