{{ $pricing := (index .Site.Data .Site.Language.Lang).pricing }}
{{ range $pricing.download }}
<div class="pricing-btn">
    {{ "<!-- Button data will be modified with JS dynamically -->" | safeHTML }}
    {{ if eq .type "github" }}
    <a class="btn btn-main download-btn" target='_blank' rel='noreferrer' btn-type="{{ .type }}" github-repo="{{ .repo }}" github-match="{{ .match }}">
    {{ else if eq .type "play_store" }}
    <a class="btn btn-main download-btn" target='_blank' rel='noreferrer' btn-type="{{ .type }}" play-store-id="{{ .id }}">
    {{ end }}
        <i class="{{ .icon }}"></i>
        <span style="font-weight:600; text-transform:uppercase;">{{ .name }}</span>
    </a>
</div>
{{ end }}
