{{ $gs := (index .Site.Data .Site.Language.Lang).gettingStarted }}
{{ if $gs.enable }}
{{ "<!-- Start Getting Started section -->" | safeHTML }}
<section id="download" class="pricing-table section" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with $gs.topTitle }}<h4>{{ . }}</h4>{{ end }}
                    {{ with $gs.title }}
                    <h2>{{ . }}</h2>
                    <span class="border"></span>
                    {{ end }}
                    {{ with $gs.subtitle }}<p>{{ . }}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="justify-content-center">
            <div class="title text-center">
                <p>{{ $gs.text | markdownify }}</p>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>
{{ "<!-- End section -->" | safeHTML }}
{{ end }}

