{{ define "main" }}
{{ $defaultDateFormat := .Site.Params.dateFormat }}
<section class="blog-single section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                {{ with .Params.image }}
                <img src="{{ . | absURL }}" class="w-100 mb-3" alt="Post-Image">
                {{ end }}
                <a href="{{ .Section | absLangURL }}">
                    <i class="tf-ion-android-arrow-back"></i>
                    <span>GO BACK</span>
                </a>
                <h2>{{ .Title }}</h2>
                <div class="post-meta mb-5">
                    <ul class="list-inline">
                        {{ with .Params.description }}
                        <p>{{ . }}</p>
                        {{ end }}
                        <li class="list-inline-item">
                            {{ with .Params.author }}
                            <span>By {{ . }}</span>
                            {{ end }}
                            {{ with .Params.date }}
                            <span>at {{ dateFormat $defaultDateFormat . }}</span>
                            {{ end }}
                        </li>
                    </ul>
                </div>
                {{ .Content }}
            </div>
        </div>
    </div>
</section>
{{ end }}
