{{ define "main" }}
{{ $blog := (index .Site.Data .Site.Language.Lang).blog }}
{{ $defaultDateFormat := .Site.Params.dateFormat }}
<section class="blog-single section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                {{ with .Params.image }}
                <img src="{{ . | absURL }}" class="w-100 mb-3" alt="Post-Image">
                {{ end }}
                <a href="{{ .Section | absLangURL }}">
                    <i class="tf-ion-android-arrow-back"></i>
                    <span>GO BACK</span>
                </a>
                <h2>{{ if .Params.developer }}<span class="tooltip-text-custom" data-toggle="tooltip" title="{{ $blog.devHint }}"><i class="tf-ion-code"></i></span> {{ end }}{{ .Title }}</h2>
                <div class="post-meta mb-5">
                    <ul class="list-inline">
                        {{ with .Params.description }}
                        <p>{{ . }}</p>
                        {{ end }}
                        <li class="list-inline-item">
                            {{ with .Params.author }}
                            <span>{{ $blog.byText }}</span>
                            <span>{{ . }}</span>
                            {{ end }}
                            {{ with .Params.date }}
                            <span>{{ $blog.atText }}</span>
                            <span>{{ dateFormat $defaultDateFormat . }}</span>
                            {{ end }}
                            {{ "<!-- Reading time, with support for different languages -->" | safeHTML }}
                            {{ $preText := cond (gt .ReadingTime 1) $blog.preReadTextPlural $blog.preReadTextSingular }}
                            {{ $postText := cond (gt .ReadingTime 1) $blog.postReadTextPlural $blog.postReadTextSingular }}
                            <span>, {{ $preText }}{{ .ReadingTime }}{{ $postText }}</span>
                        </li>
                    </ul>
                </div>
                {{ .Content }}

                {{ partial "share-buttons.html" . }}
            </div>
        </div>
    </div>
</section>
{{ end }}
