{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $wiki := (index .Site.Data .Site.Language.Lang).wiki }}
{{ "<!-- Wiki Section Start -->" | safeHTML }}
<section class="blog section" id="wiki">
    <div class="container">
        {{ .Content }}
        {{ if (len .Pages) ne 0 }}
        <hr>
        {{ if (len (where .Pages "Params.type" "!=" "developer")) ne 0 }}
        <h1>{{ $wiki.moreTitle }}</h1>
        <p>{{ $wiki.moreDescription }}</p>
        <ul>
            {{ range where .Pages "Params.type" "!=" "developer" }}
            <li><a href="{{ .Permalink | absLangURL }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
        <hr>
        {{ end }}
        {{ if (len (where .Pages "Params.type" "developer")) ne 0 }}
        <h1>{{ $wiki.developerTitle }}</h1>
        <p>{{ $wiki.developerDescription }}</p>
        <ul>
            {{ range where .Pages "Params.type" "developer" }}
            <li><a href="{{ .Permalink | absLangURL }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
        {{ end }}
    </div>
</section>
{{ "<!-- Wiki Section End -->" | safeHTML }}

{{ end }}
