{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $wiki := (index .Site.Data .Site.Language.Lang).wiki }}
{{ "<!-- Wiki Section Start -->" | safeHTML }}
{{ if ne (len .Pages) 0 }}
<section class="blog section" id="wiki">
    <div class="container">
        {{ .Content }}
        <hr>

        {{ $dev := where .Pages "Params.developer" "==" true }}
        {{ $regular := .Pages | complement $dev }}

        {{ if $regular }}
        <h1>{{ $wiki.moreTitle }}</h1>
        <p>{{ $wiki.moreDescription }}</p>
        <ul>
            {{ range $regular }}
            <li><a href="{{ .Permalink | absLangURL }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
        <hr>
        {{ end }}

        {{ if $dev }}
        <h1>{{ $wiki.developerTitle }}</h1>
        <p>{{ $wiki.developerDescription }}</p>
        <ul>
            {{ range $dev }}
            <li><a href="{{ .Permalink | absLangURL }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</section>
{{ end }}
{{ "<!-- Wiki Section End -->" | safeHTML }}

{{ end }}
