{{ define "main" }}

{{ partial "page-title.html" . }}

{{ "<!-- Wiki Section Start -->" | safeHTML }}
<section class="blog section" id="wiki">
    <div class="container">
        {{ .Content }}
        {{ if (len .Pages) ne 0 }}
        <hr>
        {{ if (len (where .Pages "Params.type" "!=" "developer")) ne 0 }}
        <h1>More</h1>
        <span>You can read other articles on the Wiki:</span>
        <ul>
            {{ range where .Pages "Params.type" "!=" "developer" }}
            <li><a href="{{ .Permalink | absLangURL }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
        <hr>
        {{ end }}
        {{ if (len (where .Pages "Params.type" "developer")) ne 0 }}
        <h1>Developer</h1>
        <span>Advanced articles intended for developers:</span>
        <ul>
            {{ range where .Pages "Params.type" "developer" }}
            <li><a href="{{ .Permalink | absLangURL }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
        {{ end }}
    </div>
</section>
{{ "<!-- Wiki Section End -->" | safeHTML }}

{{ end }}
